go 1.25.5

use (
	.
	./apps/analytics-api
	./apps/genui-api
	./apps/orchestration-api
	./backend
	./calc-engine
	./libs/abac-client
	./libs/db/queries
	./libs/jwt-middleware
	./libs/logging
	./libs/shared-types
	./libs/temporal-client
	./libs/infisical
	./libs/validation-sdk
	./portfolio-management/backend
	./rebalancing/api
)
