.container {
  display: flex;
  font-family: sans-serif;
}

.panel {
  width: 33%;
  padding: 1rem;
  border-right: 1px solid #ccc;
}

.results {
  width: 67%;
  padding: 1rem;
}

.resultCard {
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 8px;
  width: 45%;
}

.resultsContainer {
  display: flex;
  justify-content: space-around;
}